*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}



.container{
    
    box-sizing: border-box;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
    text-align: center;
    
    

}

@media(max-width:700px){
    .container{
        width: 100%;
        left: 60%;
        height: 40vh;
    }
}


.box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(160px,0fr)) ;
    margin-bottom: 10px;
}
.box-1{
    background: orangered;
    width: 50%;
    padding: 35px;
}


.box-2{
    background: orange;
    width: 20%;
    padding: 35px;
    float: left;
}


.column-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(95px,0fr)) ;
    margin-bottom: 10px;
}


.column-1{
    background: green;
    padding: 35px;
    width: 5%;
    padding: 40px;
}



.column-2{
background: rgb(68, 169, 209);
width: 132%;
padding: 20px;

    

}


.column-3{
    background: rgb(68, 169, 209);
    width: 122%;
    padding: 25px;
    margin-top: 10px;
    
}




















